{%extends "base.html"%}

{%block title%}
IEEE
{%endblock%}

{%block navbar%}
<span class="text-success">@</span><span class="text-danger">I</span><span class="text-warning">E</span><span class="text-primary">E</span><span class="text-success">E</span><span class="text-danger">2</span><span class="text-warning">0</span><span class="text-primary">2</span><span class="text-success">3</span>
{%endblock%}

{%block css%}
<link rel="stylesheet" href="{{url_for('static', filename='/signin.css')}}">
{%endblock%}

{% block banner%}
<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="form-signin col-lg-6 col-md-8 mx-auto">
        <form method = 'POST'>
            <div class='mb-3'>
            <input class="form-control text-center" id="floatingInput" placeholder='Store Name' name = 'store_name' value="{{store_name}}" required>
            </div>
            <div class='mb-3'>
            <input class="form-control text-center" id="floatingInput" placeholder='Location' name = 'store_location' value="{{store_location}}" required>
            <div class='mt-3'>
            <button type="submit" class="btn btn-primary">Save Store Information</button>
            </div>
        </form>
      <h1 class="fw-light mt-3">Categories</h1>
      <p>
        {%if store_id%}
        <div class='mb-3'>
        <a href="/add_category/{{store_id}}" class="btn btn-primary my-2">Add Category</a>
        </div>
        <div class='mb-3'>
        <a href="/qr/{{store_id}}" class="btn btn-primary my-2">QR Code</a>
        </div>
        {%else%}
        <p>Save store information to add categories</p>
        {%endif%}
      </p>
      {%if store_id%}
      <p class="lead text-muted">Click the respective cateogries to add menu items</p>
    {%endif%}
    </div>
  </div>
</section>
{%endblock%}

{%block main%}
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
{%for category in categories%}
    <div class="col">
        <div class="card shadow-sm bg-dark">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
          <div class="card-body">
            <p class="card-text">{{category.name}}</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="/category/{{store_id}}/{{category.id}}" class="btn btn-sm btn-outline-secondary">View</a>
              </div>
            </div>
          </div>
        </div>
      </div>
{%endfor%}
</div>
<div class='col'>
  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      Total Amount Earned: ${{total}}
    </a>
  </nav>
  <table class="table table-bordered table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Customer Email</th>
        <th scope="col">Product Name</th>
        <th scope="col">Quantity</th>
        <th scope="col">Total ($)</th>
      </tr>
    </thead>
    <tbody>
      {%for order in order_info%}
      <tr>
        <th scope="row">{{order.id}}</th>
        <td>{{order.customer_email}}</td>
        <td>{{order.product_name}}</td>
        <td>{{order.quantity}}</td>
        <td>{{order.total}}</td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
  </div>

{%endblock%}