{%extends "base.html"%}

{%block title%}
Add Items
{%endblock%}

{%block navbar%}
Add Items
{%endblock%}

{% block banner%}
<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light mt-5">Items For Category: {{category.name}} </h1>
      <p>
        <a href="/add_item/{{store_id}}/{{category.id}}" class="btn btn-primary my-2">Add Item</a>
      </p>
    </div>
  </div>
</section>
{%endblock%}

{%block main%}
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
{%for item in items%}
      <div class="col">
        <div class="card shadow-sm bg-dark">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
          <div class="card-body">
            <p class="card-text">{{item.name}}</p>
            <p class="card-text">{{item.description}}</p>
            <p class="card-text">${{item.price}}</p>
          </div>
        </div>
      </div>
{%endfor%}
</div>

{%endblock%}