{%extends "base.html"%}

{%block title%}
Menu
{%endblock%}

{%block navbar%}
Menu
{%endblock%}

{%block search%}
<li>
  <form class="d-flex">
    <input class="form-control me-2 bg-dark text-white" type="search" placeholder="TO BE IMPLEMENTED" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>
</li>
{%endblock%}

{% block banner%}
<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light mt-5">Welcome to {{store.name}}</h1>
      <p class="lead text-muted">Located at {{store.location}}</p>
    </div>
  </div>
</section>
{%endblock%}

{%block main%}
<!-- Image and text -->
{%for category in categories%}
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    {{category.name}}
  </a>
</nav>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
{%for product in products if product.category_id == category.id%}
      <div class="col">
        <div class="card shadow-sm bg-dark">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
          <div class="card-body">
            <p class="card-text">{{product.name}}</p>
            <p class="card-text">{{product.description}}</p>
            <p class="card-text">${{product.price}}</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <Input type="number" class="btn btn-sm btn-outline-secondary" min="0" max="20">
              </div>
            </div>
          </div>
        </div>
      </div>
{%endfor%}
</div>
{%endfor%}
{%endblock%}