{% extends "base.html" %}
{%block title%}QR Code{%endblock%}
{%block navbar%}QR Code{%endblock%}

{%block css%}
<style>
    div {
      text-align: center;
    }
  </style>
  
{%endblock%}

{%block main%}
<div class = "text-dark text-center">
<h1 class="h3 mb-3 fw-normal text-white">Generated QR Code </h1>
<h2>&lt;img src="&#123;&#123; qrcode("I'm bigger than you!", box_size=20) &#125;&#125;"&gt;</h2>
<img src="{{ qrcode('https://menufiy.herokuapp.com/menu/' ~ store_id, box_size=20) }}">
</div>
{%endblock%}